@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1, h2, h3, h4, h5{
	font-family: ubuntu;
	font-weight: bold;
}

p {
	font-family: ubuntu;
	font-weight: normal;
}

li a {
	font-family: ubuntu;
	font-weight: bold;
	font-size: 20px;
}

.navbar-light .navbar-toggler{
	border-color: #fff;
}